.body5{
    background-image: url("../mutilmedias/imagenfondo5.jpg");
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.cajaBlanca7{
    @include caja-normal;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    h1{
        font-family: 'Handlee', cursive;
    }
    div{
        padding: 1rem;
    }
}