.body2{
    background-image: url("../mutilmedias/imagenfondo2.jpg");
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.cajaBlanca2{
    @include caja-normal;
    h1{
        font-family: 'Handlee', cursive;
    }
    p{
        width: 15rem;
        height: auto;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    img{
        width: 15rem;
        border: solid 3px gray;
    }
}